*{
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(173, 197, 38);
}

#id1{
    color:blue
}

.background{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    background-image: url('https://picsum.photos/200/300');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

#font{
font-family: 'Roboto', sans-serif;  
/* font-variant: small-caps; */
font-size: 2em;
font-style: italic;
font-weight: lighter;
color:green;
letter-spacing: 2px;
/* direction: rtl; */
text-indent: 105px;
text-align:left;
text-transform: capitalize;
}



ul{
    list-style: armenian;
    list-style-type: square ;
}